{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
	<div class="content">
		<h1>Practicas</h1>
		<table>
			<th>
				<tr>
					<td>
						<a href="/callPractice/1">Imprime imagen en ASCII</a>
					</td>
				</tr>
				<tr>	
					<td>
						<a href="/callPractice/2">Sumar de dos enteros</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="/callPractice/3">Calcular volumen de esfera</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="/callPractice/4">Verdadero a 1 y Falso a 0</a>
					</td>
				</tr>
				<tr>	
					<td>
						<a href="/callPractice/5">Convertir entero a binario</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="/callPractice/6">Convertir entero a hexadecimal</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="/callPractice/7">Dibujo con tortugas</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="">Nesflis</a>
					</td>
				</tr>
			</th>
			
		</table>
		<form action = '/' method="POST">
	<div>	
{% endblock %}